#ignore gitignore
.gitignore

#ignore Checkpoints
.ipynb_checkpoints

#ignore config file
config.py

#ignore __pycache__
__pycache__/

#ignore files
List_of_postal_codes_of_Canada:_M
Geospatial_data
Toronto_Q1.csv
Toronto_Q2.csv
